@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css");

:root {
  --back-light: linear-gradient(
    to right,
    rgba(71, 255, 126, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(8, 107, 255, 0.4)
  );
  --back-dark: linear-gradient(
    to right,
    rgba(3, 145, 10, 0.8),
    rgba(0, 0, 196, 0.8)
  );
}
body {
  font-family: "Akira Expanded Super Bold", Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  background: var(--back-light),
    url("background.jpeg") center center / cover no-repeat fixed;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
/* Nav bar Styling */
header.hide {
  display: none;
}
footer {
  background: rgb(241, 239, 239);
  color: black;
}
footer i {
  font-size: 2em;
  margin: 0.4%;
}
#logo {
  background: url("logo3.png") no-repeat left center / contain;
}
nav.main {
  flex-direction: row;
}
nav.main ul {
  transition: all 0.5s;
}
nav.main ul li {
  display: inline-block;
  line-height: 50px;
}
nav.main ul li a {
  border-right: 2px solid #00ff00;
}
nav.main a {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  transition: all 0.3s ease;
}

nav.main a:hover {
  color: #00ff00;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.closelist {
  font-size: 20px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 1.5%;
  margin-bottom: 3%;
  margin-left: 3%;
}
.checkbtn {
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Night Mode specific styles */
.night-mode #home-intro {
  background: var(--intro-images-night),
    url("MR BOYZ.jpg") center center / cover no-repeat fixed;
}
.night-mode #modeToggle {
  background-color: black;
  color: white;
  border-color: white;
}
.checkbtn,
.closelist {
  color: white;
}
/* Home Intro Styling */
#home-intro1 {
  height: 90svh;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  margin: 3%;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(97, 180, 1, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: linear-gradient(
    0deg,
    rgba(2, 253, 107, 0.397) 0%,
    rgba(4, 175, 255, 0.486) 100%
  );
  line-height: 42px;
  border: none;
}
.hero-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.hero-btn:before,
.hero-btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(2, 255, 57, 0.795);
  box-shadow: -7px -7px 20px 0px rgba(0, 41, 175, 0.9),
    -4px -4px 5px 0px rgba(9, 42, 233, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.hero-btn:before {
  height: 0%;
  width: 2px;
}
.hero-btn:after {
  width: 0%;
  height: 2px;
}
.hero-btn:hover {
  color: rgb(43, 255, 166);
  background: transparent;
}
.hero-btn:hover:before {
  height: 100%;
}
.hero-btn:hover:after {
  width: 100%;
}
.hero-btn span:before,
.hero-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(252, 1, 1);
  box-shadow: -7px -7px 20px 0px rgba(199, 0, 0, 0.9),
    -4px -4px 5px 0px rgba(250, 43, 43, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.hero-btn span:before {
  width: 2px;
  height: 0%;
}
.hero-btn span:after {
  height: 2px;
  width: 0%;
}
.hero-btn span:hover:before {
  height: 100%;
  margin-left: -10px;
}
.hero-btn span:hover:after {
  width: 110%;
  margin-top: -3px;
  margin-left: -5px;
}

#userHistoryList {
  background: linear-gradient(
    to right,
    rgba(3, 68, 22, 0.8),
    rgba(0, 0, 0, 0.5)
  );
}
/* About Us Section */
/* Responsive adjustments */
@media (max-width: 420px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    position: absolute;
    width: 60%;
    height: 60vh;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 60px;
    background-color: rgba(131, 248, 120, 0.726);
    top: 60px; /* Adjusted to push the navbar below the header
    display: none;*/
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  nav ul li a {
    border: none;
  }
  nav a {
    margin: 5px 0;
  }
  .checkbtn,
  .closelist {
    display: flex;
  }
  #check:checked ~ ul {
    left: 0;
    display: block;
  }
}

header h1 {
  font-size: 2em;
  color: white;
}
/* تعديلات للشاشات الكبيرة */

@media (max-width: 768px) {
  #home-intro h1 {
    font-size: 2em;
    margin-bottom: -6px;
  }

  #home-intro p {
    font-size: 1em;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  #modeToggle {
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
  }
}
@media (min-width: 1025px) {
  #modeToggle {
    padding: 12px 25px; /* Larger padding for a more prominent button */
    border-radius: 20px;
    margin-left: 10px;
  }
}
@media (min-width: 1536px) {
  #imgs-hackathon ul {
    margin-left: 32rem;
  }
}
/* Keyframe animation */
@keyframes fadeInUpAndZoom {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95); /* Adjust the initial offset and scaling factor */
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
